[Unit]
Description=BolideOS Power Manager Daemon
After=dbus.service bluetooth.service
Wants=bluetooth.service

[Service]
Type=dbus
BusName=org.bolideos.powerd
ExecStart=/usr/bin/bolide-powerd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
